*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Alata", sans-serif;
    background-color: hsl(0, 0%, 100%);
}

.header {
    padding: 80px 120px;
    color: hsl(0, 0%, 100%);
    background-image: url("../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    margin-left: 30px;
}

.header__link {
    text-decoration: none;
    color: inherit;
}

.header__title {
    max-width: 500px;
    margin: 80px 0;
    padding: 20px 30px;
    font-size: 52px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    border: 2px solid hsl(0, 0%, 100%);
}

/* Leader */

.leader {
    padding: 100px 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.leader__interactive {
    width: 700px;
    height: 500px;
    background-image: url("../images/desktop/image-interactive.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.leader__info {
    padding: 90px;
    width: 580px;
    height: 400px;
    padding-bottom: 20px;
    align-self: end;
    position: relative;
    left: -150px;
    background-color: white;
}

.leader__title {
    font-size: 44px;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
}

.leader__desc {
    margin-top: 30px;
    color: hsl(0, 0%, 55%);
    line-height: 1.5;
}