*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Alata", sans-serif;
    background-color: hsl(0, 0%, 100%);
}

.header {
    padding: 50px 120px 80px;
    color: hsl(0, 0%, 100%);
    background-image: url("../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-heading {
    display: none;
}

.header__menu {
    display: none;
}

.header__list {
    display: flex;
}

.header__item {
    margin-left: 30px;
}

.header__link {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.header__link::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: white;
    transition: all 200ms ease-out;
}

.header__item:hover .header__link::after {
    left: 25%;
    right: 25%;
}


.header__title {
    max-width: 500px;
    margin: 80px 0;
    padding: 20px 30px;
    font-size: 52px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    border: 2px solid hsl(0, 0%, 100%);
}

/* Leader */

.leader {
    padding: 100px 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.leader__interactive {
    width: 700px;
    height: 500px;
    background-image: url("../images/desktop/image-interactive.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.leader__info {
    padding: 90px;
    width: 580px;
    height: 400px;
    padding-bottom: 20px;
    align-self: end;
    position: relative;
    left: -150px;
    background-color: white;
}


.leader__title {
    font-size: 44px;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
}

.leader__desc {
    margin-top: 30px;
    color: hsl(0, 0%, 55%);
    line-height: 1.5;
}

/* Creation */

.creation {
    padding: 0 120px;
}

.creation__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creation__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 44px;
    text-transform: uppercase;
}

.creation__button {
    background-color: white;
    padding: 7px 30px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.creation__button:hover {
    background-color:hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.creation__items {
    margin: 60px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.creation__item {
    position: relative;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.creation__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 200ms ease-out;
}

.creation__item:hover .creation__overlay {
    background-color: hsla(0, 0%, 100%, .6);
}

.creation__name {
    width: 100%;
    padding: 30px;
    color: hsl(0, 0%, 100%);
    font-size: 28px;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    transition: color 200ms ease-out;
}

.creation__item:hover .creation__name {
    color: hsla(0, 0%, 0%, 1);
    z-index: 1;
}


.creation__item--earth {
    background-image: url("../images/desktop/image-deep-earth.jpg");
}

.creation__item--arcade {
    background-image: url("../images/desktop/image-night-arcade.jpg");
}

.creation__item--soccer {
    background-image: url("../images/desktop/image-soccer-team.jpg");
}

.creation__item--grid {
    background-image: url("../images/desktop/image-grid.jpg");
}

.creation__item--above {
    background-image: url("../images/desktop/image-from-above.jpg");
}

.creation__item--borealis {
    background-image: url("../images/desktop/image-pocket-borealis.jpg");
}

.creation__item--curiosity {
    background-image: url("../images/desktop/image-curiosity.jpg");
}

.creation__item--fisheye {
    background-image: url("../images/desktop/image-fisheye.jpg");
}

/* Footer */

.footer {
    padding: 30px 120px;
    background-color: hsl(0, 0%, 0%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.footer__list {
    display: flex;
}

.footer__item {
    margin-right: 30px;
}

.footer__link {
    position: relative;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    cursor: pointer;
}

.footer__link::after {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 0;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: white;
    transition: all 200ms ease-out;
}

.footer__item:hover .footer__link::after {
    left: 25%;
    right: 25%;
    width: auto;
}

.footer__right {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: end;
    gap: 10px;
    align-items: center;
    color: hsl(0, 0%, 100%);
}

.footer__socials {
    display: flex;
}

.footer__social {
    margin-left: 15px;
}


.footer__social:hover .footer__link::after {
    left: 0%;
    right: 0%;
    opacity: 1;
    width: auto;
}

.footer__copyright {
    color: hsl(0, 0%, 41%);
}

@media only screen and (max-width: 1270px) {
    .leader__interactive {
        max-width: 500px;
    }
    
    .leader__info {
        padding: 40px;
        padding-bottom: 20px;
        height: auto;
    }
}

@media only screen and (max-width: 1070px) {
    .leader {
        grid-template-columns: 1fr;
    }

    .leader__interactive {
        max-width: 800px;
        width: 100%;
        background-size: cover;
    }

    .leader__info {
        width: 100%;
        position: static;   
        text-align: center;
    }

    .creation__items {
        grid-template-columns: 1fr;
    }

    .creation__item {
        background-size: cover;
        width: 100%;
        height: 150px;
    }
    
    .creation__item--earth {
        background-image: url("../images/mobile/image-deep-earth.jpg");
    }

    .creation__item--arcade {
        background-image: url("../images/mobile/image-night-arcade.jpg");
    }

    .creation__item--soccer {
        background-image: url("../images/mobile/image-soccer-team.jpg");
    }

    .creation__item--grid {
        background-image: url("../images/mobile/image-grid.jpg");
    }

    .creation__item--above {
        background-image: url("../images/mobile/image-from-above.jpg");
    }

    .creation__item--borealis {
        background-image: url("../images/mobile/image-pocket-borealis.jpg");
    }

    .creation__item--curiosity {
        background-image: url("../images/mobile/image-curiosity.jpg");
    }

    .creation__item--fisheye {
        background-image: url("../images/mobile/image-fisheye.jpg");
    }

    .footer {
        display: block;
    }

    .footer__left {
        display: block;
        text-align: center;
    }

    .footer__list {
        flex-direction: column;
    }

    .footer__item {
        margin-top: 20px;
        margin-right: 0;
    }

    .footer__right {
        margin-top: 30px;
        justify-content: center;
        justify-items: center;
    }

    .footer__social {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 900px) {
    .header {
        position: relative;
        padding: 20px;
        background-image: url("../images/mobile/image-hero.jpg");
        background-size: 100%;
    }

    .header__info {
        padding: 20px;
    }

    .header__title {
        font-size: 36px;
    }

    .header__menu-heading {
        display: none;
        padding: 34px 20px;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .header__menu-heading.show {
        display: flex;
    }

    .header__close {
        cursor: pointer;
    }

    .header__list {
        display: none;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        flex-direction: column;
        justify-content: center;

        background-color: black;
        z-index: 0;
    }

    .header__list.show {
        display: flex;
    }

    .header__item {
        margin: 20px 0;
        text-transform: uppercase;
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
    }

    .header__menu {
        display: block;
        cursor: pointer;
    }


    .leader {
        padding: 20px;
    }

    .leader__interactive {
        height: 300px;
    }

    .creation {
        padding: 20px;
    }

    .creation__info {
        flex-direction: column;
    }

    .creation__button {
        margin-top: 30px;
        padding: 10px 50px;
    }

    .footer {
        padding: 20px;
    }
}

@media only screen and (max-width: 400px) {

    .header__title {
        font-size: 34px;
    }

    .leader__interactive {
        height: 200px;
    }

    .leader__title {
        font-size: 32px;
    }

    .creation__title {
        font-size: 32px;
    }
}